#maximal read length
max_rd_len=150
[LIB]
#average insert size
avg_ins=300
#if sequence needs to be reversed
reverse_seq=0
#in which part(s) the reads are used
asm_flags=3
#in which order the reads are used while scaffolding
rank=1
#fastq file for 150 bp reads
q1=/n/projects/dem/B-chromosome/BchrReads.unmapped.f.sickle.fastq
q2=/n/projects/dem/B-chromosome/BchrReads.unmapped.r.sickle.fastq
